.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.wrapper input{
    box-sizing: border-box;
    padding: 10px;
    width: 400px;
    border: 1px solid black
}

.wrapper button{
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    cursor: pointer;
    
}

.item{
    padding: 10px;
}

.item:hover{
color: red;
cursor: pointer;
}